.product__price {
  display: flex;
  gap: 5px;
  align-items: end;
}
.product__price--original {
  color: #ff0000;
  font-size: 35px;
}
.product__price--stock {
  color: #ff0000;
  font-weight: 600;
  margin-left: 30px;
}
