.container-product{
    width: 30%;
    border: 1px solid #8d8d8d;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.container-product:hover{
    border: 2px solid red;
}


.container-product .body-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
}
.container-product .body-product .category{
    font-weight: 100;
    color: #8d8d8d;
    font-size: large;
}
.container-product .body-product .name{
    font-size: larger;
}
.container-product .body-product .price{
    color: red;
    font-size: x-large;
}
.container-product .body-product .price small{
    color: #8d8d8d;
    text-decoration: line-through;
}


.container-product img{
    width: 100%;
}
.container-product .stars{
    display: flex;
    gap: 4px;
}
.container-product .stars img{
    width: 20px;
}

.container-product .content-btn{
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.container-product:hover .content-btn{
    display: flex;
    bottom: -57px;
    padding: 5px;
}
.container-product:hover .btn-product{
    display: block;
}
.container-product .btn-product{
    width: 190px;
    display: none;
    min-width: 164px;
    background-color: red;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 400ms;
}
.container-product .btn-product:hover{
    transition: 400ms;
    background-color: rgb(236, 73, 73);
}