.container-product-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}
.body-product{
    display: flex;
}
.body-product-list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}
.footer-product{
    display: flex;
    justify-content: center;
}
