.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}
.home__body{
    display: flex;
}
.home__body--list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}
/* .home__body--right{

} */
.home__footer{
    display: flex;
    justify-content: center;
}
