.product__item-image {
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__item--loaded {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .product__item-image {
    min-width: 300px;
  }
}
@media (max-width: 480px) {
  .product__item-image {
    display: none;
  }
}
