.header__header-top {
  background-color: #020231;
}

.header__header-top .__global-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header__header-top .header__contact-list {
  display: flex;
  align-content: center;
  list-style: none;
  gap: 5px;
}

.header__header-top .header__contact-item {
  display: flex;
  align-items: center;
}
.header__box-setting {
  z-index: 2;
}
.header__logout-button {
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.header__logout-button:hover {
  background-color: #ff0000;
}
.header__btns-profile {
  display: flex;
  gap: 4px;
  position: relative;
}

.header__btns-profile .header__btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: none;
}

/* Responsive Styles */
@media (max-width: 1200px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .header__contact-item:nth-child(2) {
    display: none;
  }
  .header__contact-item:nth-child(3) {
    display: none;
  }
  .header__btn--money {
    display: none !important;
  }
}
